# git ignore file for dsc project

/config.mak
/build/dsc.version
/build/config.mak
/Providers/bin/
/intermediate/
/omi-1.7.0
/output/
/release/
/target
/dsc_config.h
**/.vscode
/.idea/
*.pyc
/ext/curl/current_platform
/ext/curl/x64/x64
